<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <% for(product of prods){ %>
                    <article class="card produt-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <div class="image">
                                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                            </div>
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <!-- FRONTED:  getting all details from controller like product.id; all attribute(id, price) define in models -->
                            <!-- BACKEND: writting all logic in model, passing value in contr0ller(controlling logic of routes), and getting url in routes from searchBar -->
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <% if(isAuthenticated){ %>
                                <!-- left side is passed in add-to-cart and right side is variable of for loop -->
                                <% if(isAuthenticated){ %>
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                <% } %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>